// Global Color Palette

// Buttons
$button-bg: #314440;
$button-text: #EBEAE9;

// Sidebar
$sidebar-bg: #4A5660;
$sidebar-text: #EBEAE9;

// Text Colors
$text-primary: #000000;

// Icons
$icon-color: #E2E3E3;

// Additional Utility Colors
$white: #FFFFFF;
$black: #000000;
