<div class="sidebar">
  <nav>
    <ul>
      <li>
        <a routerLink="/dashboard/home" routerLinkActive="active">
          <i class="fas fa-home"></i> Casa
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/chat" routerLinkActive="active">
          <i class="fas fa-comments"></i> Bater Papo
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/contacts" routerLinkActive="active">
          <i class="fas fa-address-book"></i> Contatos
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/tasks" routerLinkActive="active">
          <i class="fas fa-tasks"></i> Tarefas
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/reports" routerLinkActive="active">
          <i class="fas fa-chart-bar"></i> Relatórios
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/settings" routerLinkActive="active">
          <i class="fas fa-cog"></i> Configurações
        </a>
      </li>
    </ul>
  </nav>
</div>
